@import "tailwindcss";

@theme inline {
  --font-chivo: var(--font-chivo-mono);
  --font-twk: var(--font-twk-lausanne);
  /* 响应式 */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  /* 颜色 */
  --color-secondary: #8c8c8c;
}

body {
  background-color: #000;
  color: #fff;
}

@layer utilities {
  .text-lg {
    @apply text-[56px] lg:text-[150px] leading-[60px] lg:leading-[150px] tracking-[-0.018em];
  }
  .text-md {
    @apply text-[24px] lg:text-[56px] leading-[26px] lg:leading-[60px] tracking-[-0.009em];
  }
  .text-base {
    @apply text-[12px] md:text-[15px] lg:text-[22px] leading-[15px] md:leading-[18px] lg:leading-[28px] tracking-[-0.0045em];
  }

  .padding-x {
    @apply px-[15px] md:px-[30px];
  }

  .grid-layout {
    @apply grid grid-cols-6 md:grid-cols-12 gap-x-[6px];
  }

  .underline-offset {
    @apply underline underline-offset-7;
  }
}

.footer-text {
  @apply text-[15px] leading-[18px] md:text-[24px] md:leading-[26px] lg:text-[56px] lg:leading-[60px];
}

.filter {
  filter: blur(50px);
}
